{% extends "base.html" %} {% block content %}
<section id="nav">
    <div class="p-3">
        <nav class=" navbar navbar-expand-lg navbar-scroll rounded-3 mx-3 px-2 stick-top"
            style="background-color: #e0f2f175;">
            <div class="container mx-auto">
                <a class="navbar-brand " href="/">DIGI GUARD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/service">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/contactus">Contact US</a>
                        </li>
                    </ul>
                    <a class="link" href="{% url 'logout' %}"><button class="btn btn-sm btn-outline-dark" type="button">
                            logout
                        </button></a>
                </div>
            </div>
        </nav>
    </div>
</section>
<p>This block is under maintenance</p>
{% endblock %}